// !default
$light-gray: #eee !default;
$dark-gray: #333 !default;
$green: #3FBF3F !default;
$standard_border_color: #ccc !default;


/********** @extend **********/
.btn {
    background: $light-gray;
    color: $dark-gray;
    border: 1px solid $dark-gray;
    border-radius: 3px;

    &:hover {
        background: $dark-gray;
        color: $light-gray;
    }
}

.btn-secondary {
    @extend .btn;

    background: $green;

    &:hover {
        color: $green;
    }
}


/********** @content **********/
$tablet: 768px !default;
$desktop: 992px !default;
$large_desktop: 1200px !default;

@mixin tablet {
    @media screen and (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop}) {
        @content;
    }
}

@mixin large_desktop {
    @media screen and (min-width: #{$large_desktop}) {
        @content;
    }
}

#content {
    width: 100%;

    @include tablet {
        width: 800px;
    }

    @include desktop {
        width: 900px;
    }

    @include large_desktop {
        width: 1000px;
    }
}


/********** @if **********/
@mixin box($has_shadow) {
    background: $dark-gray;
    @if $has_shadow {
        box-shadow: 1px 1px 3px $light-gray;
    }
}

.box_with_shadow {
    @include box(true);
}

.box_without_shadow {
    @include box(false);
}


/********** @for **********/
@for $i from 1 through 5 {
    .margin-#{$i} {
        margin: 10px * $i;
    }
}


/********** @each **********/
@mixin standard_border($list) {
    @each $direction in $list {
        border-#{$direction}: 1px solid $standard-border-color;
    }
}

#content {
    @include standard_border(top bottom left right);
}